content-select{
    position: relative;
    text-decoration: none;
}

.content-select{
    width: 100%;
    display: inline-block;
    cursor: pointer;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #f0f0f0;
    color: #999;
    border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    position: relative;
}

 
.content-select:hover{
	background: rgba(254, 171, 142, 1);
}