<ion-header>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content class="ion-padding">

  <h1>Registro Personal.</h1>
  <h4>Tanto personal operativo como administrativo</h4>

  <form>
    <app-input label="Email" type="email"></app-input>
    <app-input label="Nombre" type="text"></app-input>
    <app-input label="Password" type="password"></app-input>
    <app-input label="Confirmar password" type="password"></app-input>

    <app-select></app-select>

    <app-button label="Registrar"></app-button>

  </form>

 
</ion-content>  
