ion-button{
    --box-shadow: none !important;
    --border-radius: 10px!important;
    --background: linear-gradient(90deg, rgba(250, 87, 142, 1) 0%, rgba(254, 171, 142, 1) 100%)!important;
    height: 48px;
    font-size: 18px;
    color: #fff;
    margin-bottom: 0.5rem;
    text-transform: initial !important;
}